# TickTick App Credentials
ticktick_client_id = "*********"
ticktick_client_secret = "*********"
ticktick_access_token = "*********"
ticktick_username = "*********"
ticktick_password = "*********"

# github credentials
github_token = "*********"
github_username = "*********"